{% extends "layout/main_layout.html" %}

{% block page_title %}User Registration{% endblock  %}

{% block main_body %}

    {% comment %} <section class=""> {% endcomment %}

    <div class="h-96 w-96 bg-slate-200 p-5 rounded-2xl">

        <div class="displayuser_in">
            <h3 class="text-center font-bold text-xl py-2" style="border-bottom: 1px solid gray; ">Registration</h3>
            <div class="flex flex-col"></div>
        </div>


        {% comment %} <div class="main_container_in"> {% endcomment %}
            {% comment %} <div class="form_up"> {% endcomment %}
            {% comment %} <div class="formtitle">Registration</div> {% endcomment %}
            <div class="displaymsg"></div>
                    
                    {% comment %} if(isset($_POST['submit'])){
                        $name = $_POST['name'];
                        $department = $_POST['department'];
                        $email = $_POST['email'];
                        $password = $_POST['password'];
                        
                        require_once 'database.php';
                            $sqlr = "SELECT * FROM users WHERE email='$email';";
                            $resultr = mysqli_query($con,$sqlr);
                            $numRowsr = mysqli_num_rows($resultr);
                            if($numRowsr>0){
                                echo 'Email already exist.';
                            } else {
                                $sqli = "INSERT INTO users (name,department,email,password) VALUES (?,?,?,?)";
                                $stmt = mysqli_stmt_init($con);
                                $prepareStmt = mysqli_stmt_prepare($stmt,$sqli);
                                if($prepareStmt){
                                    mysqli_stmt_bind_param($stmt,'ssss',$name,$department,$email,$password);
                                    mysqli_execute($stmt);
                                    echo 'Registered Successfully.';
                                } else {
                                    echo 'Something went wrong';
                                }
                            }
                            $con->close();
                        } {% endcomment %}
                    
                    <div class="formdv mt-4">
                        <form class="regform">
                            <ul class='w-full'>
                                <li class="w-full m-3  flex"><div class="mr-3 flex items-center w-1/4">Name</div><input class="name p-2 h-8 w-[65%] rounded-lg" type="text" placeholder="Enter Name"></li>
                                <li class="w-full m-3  flex"><div class="mr-3 flex items-center w-1/4">User Role</div>
                                    <select class="user_role h-8 w-[65%] bg-white rounded-lg p-1 capitalize">
                                        <option class="advertisement capitalize" disabled selected>select user role</option>
                                        <option class="advertisement capitalize">advertisement</option>
                                        {% comment %} <option class="eba capitalize">eba</option> {% endcomment %}
                                    </select>
                                </li>
                                <li class="w-full m-3  flex"><div class="mr-3 flex items-center w-1/4">Email</div><input class="email p-2 h-8 w-[65%] rounded-lg" type="email" placeholder="Enter Email"></li>
                                <li class="w-full m-3  flex"><div class="mr-3 flex items-center w-1/4">Password</div><input class="password p-2 h-8 w-[65%] rounded-lg" type="password" placeholder="Enter Password"></li>
                                <li class="w-full m-3  flex"><div class="mr-3 flex items-center w-1/4">Confirm Password</div><input class="confirm_password p-2 h-8 w-[65%] rounded-lg" type="password" placeholder="Confirm Password"></li>
                                {% comment %} <input class="formSbmtBtn" type="submit" name="submit" Value="Register"> {% endcomment %}
                                <div class="flex justify-center m-3"><button class="btn btn-success register text-slate-100">Register</button><div>
                            </ul>
                        </form>

                        <script src="/static/scripts/loader.js"></script>

                        <script>
                            function errorNotification(message){
                                const dv = document.createElement('div');
                                dv.classList = 'absolute left-[50%] translate-x-[-50%] m-2';
                                message.forEach(e=>{
                                    const div = document.createElement('div');
                                    div.setAttribute('role','alert')
                                    div.setAttribute('class','alert alert-error my-2')

                                    div.innerHTML =   `
                                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                                    <span>${e}</span>`;
                                    dv.append(div)
                                    setTimeout(e=>{
                                        div.remove()
                                    },2000)
                                })
                                document.body.prepend(dv)
                            }

                            function successNotification(message){
                                const dv = document.createElement('div');
                                dv.classList = 'absolute left-[50%] translate-x-[-50%] m-2';
                                message.forEach(e=>{
                                    const div = document.createElement('div');
                                    div.setAttribute('role','alert')
                                    div.setAttribute('class','alert alert-success my-2')

                                    div.innerHTML =   `
                                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                                    <span>${e}</span>`;
                                    dv.append(div)
                                    setTimeout(e=>{
                                        div.remove()
                                    },2000)
                                })
                                document.body.prepend(dv)
                            }
                        </script>


                        <script>
                            const register = document.querySelector('.register');
                            register.addEventListener('click', async(e)=>{
                                e.preventDefault()

                                const name = document.querySelector('.name');
                                let user_role = document.querySelector('.user_role');
                                const email = document.querySelector('.email');
                                const password = document.querySelector('.password');
                                const confirm_password = document.querySelector('.confirm_password');
                                if (user_role.value === 'select user role'){
                                    user_role = ''
                                } else {
                                    user_role = user_role.value
                                }
                                
                                if (password.value === confirm_password.value){

                                    addLoader()
                                    
                                    try {
                                        const response = await fetch('http://10.20.40.234:8000/registration', { 
                                            method: 'POST', 
                                            headers: {
                                                'Content-Type': 'application/json'
                                            }, 
                                            body: JSON.stringify({ 'name': name.value, 'user_role': user_role, 'email': email.value, 'password': password.value})
                                        });
                                    
                                    // Handle response
                                        if (response.ok) {
                                            const data = await response.json();
                                            name.value = ''
                                            email.value = ''
                                            password.value = ''
                                            confirm_password.value = ''

                                            removeLoader()
                                            successNotification(data.message)

                                        } else {
                                            const data = await response.json();

                                            // throw new Error('Network response was not ok.');
                                            console.log('response',data)

                                            removeLoader()
                                            errorNotification(data.message)
                                            
 


                                        }
                                    } catch (error) {
                                        console.error('Error:', error);
                                    }
                                } else {
                                    confirm_password.style.border = '1px solid red'


                                    const dv = document.createElement('div');
                                    dv.classList = 'absolute left-[50%] translate-x-[-50%] m-2';
                                    // data.message.forEach(e=>{
                                        const div = document.createElement('div');
                                        div.setAttribute('role','alert')
                                        div.setAttribute('class','alert alert-error my-2')

                                        div.innerHTML =   `
                                            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                                            <span>password and confirm password do not match</span>`;
                                        
                                        dv.append(div)

                                        setTimeout(e=>{
                                            div.remove()
                                        },2000)
                                        
                                    // })
                                    document.body.prepend(dv)

                                }
                                
                            })

                        </script>

                </div>
            {% comment %} </div> {% endcomment %}
        {% comment %} </div> {% endcomment %}
    {% comment %} </section> {% endcomment %}

{% endblock  %}