{% extends "layout/main_layout.html" %}

{% block page_title %}User Registration{% endblock  %}

{% block main_body %}

    {% comment %} <section class=""> {% endcomment %}
        <span class="text-2xl text-slate-100">Installation Guide (Only For Linux Users)</span>
        <p class="text-sm text-slate-100 mb-4">(windows users please contact +91 93999 22844)</p>

    <div class="h-[calc(100%-100px)] w-[calc(100%-400px)] overflow-y-scroll bg-slate-300 p-5 shadow-2xl rounded-2xl">

        {% comment %} {% load static %} {% endcomment %}
        <section class="flex flex-col justify-center items-center p-4 border-b border-[black]">
            <span class="text-2xl p-2">Step 1</span>
            <p class="text-base pb-3">Click Download Button</p>
            <div class="h-96 w-96 flex justify-center items-center">
                <img src="/static/installation_1.png">
            </div>
        </section>

        <section class="flex flex-col justify-center items-center p-4 border-b border-[black]">
            <span class="text-2xl p-2">Step 2</span>
            <p class="text-base pb-3">Click 'Keep' to download the tool</p>
            <div class="h-96 w-96 flex justify-center items-center">
                <img src="/static/installation_2.png">
            </div>
        </section>

        <section class="flex flex-col justify-center items-center p-4 border-b border-[black]">
            <span class="text-2xl p-2">Step 3</span>
            <p class="text-base pb-3">Locate the file in the downloads folder, right click on file and then click 'Extract Here'.</p>
            <div class="h-96 w-96 flex justify-center items-center">
                <img src="/static/installation_3.png">
            </div>
        </section>

        <section class="flex flex-col justify-center items-center p-4 border-b border-[black]">
            <span class="text-2xl p-2">Step 4</span>
            <p class="text-base pb-3">Find and open the folder</p>
            <div class="h-96 w-96 flex justify-center items-center">
                <img src="/static/installation_4.png">
            </div>
        </section>

        <section class="flex flex-col justify-center items-center p-4 border-b border-[black]">
            <span class="text-2xl p-2">Step 5</span>
            <p class="text-base pb-3">Locate the file</p>
            <div class="h-96 w-96 flex justify-center items-center">
                <img src="/static/installation_5.png">
            </div>
        </section>

        <section class="flex flex-col justify-center items-center p-4 border-b border-[black]">
            <span class="text-2xl p-2">Step 6</span>
            <p class="text-base pb-3">Go to the Browser, click menu of the top right corner, find extension and the click manager extensions</p>
            <div class="h-96 w-96 flex justify-center items-center">
                <img src="/static/installation_6.png">
            </div>
        </section>

        <section class="flex flex-col justify-center items-center p-4 border-b border-[black]">
            <span class="text-2xl p-2">Step 7</span>
            <p class="text-base pb-3">Enable Developer Mode</p>
            <div class="h-96 w-96 flex justify-center items-center">
                <img src="/static/installation_7.png">
            </div>
        </section>

        <section class="flex flex-col justify-center items-center p-4 border-b border-[black]">
            <span class="text-2xl p-2">Step 8</span>
            <p class="text-base pb-3">Now go to the downloaded file (step 5), and drag the file in the area below and keep hovering the file untill you see 'Drop to Install', then drop the file</p>
            <div class="h-96 w-96 flex justify-center items-center">
                <img src="/static/installation_8.png">
            </div>
        </section>

        <section class="flex flex-col justify-center items-center p-4 border-b border-[black]">
            <span class="text-2xl p-2">Step 9</span>
            <p class="text-base pb-3">Click Add Extension</p>
            <div class="h-96 w-96 flex justify-center items-center">
                <img src="/static/installation_9.png">
            </div>
        </section>

        {% comment %} <section class="h-96 w-96">
            <img src="/static/installation_1.png">
        </section>

        <section class="h-96 w-96">
            <img src="/static/installation_1.png">
        </section> {% endcomment %}


    </div>
{% endblock  %}