{% extends "layout/main_layout.html" %}

{% block page_title %}User Registration{% endblock  %}

{% block main_body %}

    {% comment %} <section class=""> {% endcomment %}
    <div class="h-96 w-96 bg-slate-200 p-5 rounded-2xl">


        {% if user  != 'no_data'  %}

        <div class="displayuser_in">
            <h3 class="text-center font-bold text-xl py-2" style="border-bottom: 1px solid gray; ">Reset Password</h3>
            <div class="flex flex-col"></div>
        </div>

            <div class="displaymsg"></div>
                    
                    <div class="formdv mt-4 h-72 flex justify-center items-center">
                        <form class="regform">
                            <ul class='w-full'>

                                <li class="w-full m-3  flex"><div class="mr-3 flex items-center w-1/4">Password</div><input class="password p-2 h-8 w-[65%] rounded-lg" type="password" placeholder="Enter Password"></li>
                                <li class="w-full m-3  flex"><div class="mr-3 flex items-center w-1/4">Confirm Password</div><input class="confirm_password p-2 h-8 w-[65%] rounded-lg" type="password" placeholder="Confirm Password"></li>
                                <div class="flex justify-center m-3"><button class="btn btn-success register text-slate-100">Update</button><div>

                            </ul>
                        </form>

                        <script src="/static/scripts/loader.js"></script>

                        <script>
                            function errorNotification(message){
                                const dv = document.createElement('div');
                                dv.classList = 'absolute left-[50%] translate-x-[-50%] m-2';
                                message.forEach(e=>{
                                    const div = document.createElement('div');
                                    div.setAttribute('role','alert')
                                    div.setAttribute('class','alert alert-error my-2')

                                    div.innerHTML =   `
                                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                                    <span>${e}</span>`;
                                    dv.append(div)
                                    setTimeout(e=>{
                                        div.remove()
                                    },2000)
                                })
                                document.body.prepend(dv)
                            }

                            function successNotification(message){
                                const dv = document.createElement('div');
                                dv.classList = 'absolute left-[50%] translate-x-[-50%] m-2';
                                message.forEach(e=>{
                                    const div = document.createElement('div');
                                    div.setAttribute('role','alert')
                                    div.setAttribute('class','alert alert-success my-2')

                                    div.innerHTML =   `
                                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                                    <span>${e}</span>`;
                                    dv.append(div)
                                    setTimeout(e=>{
                                        div.remove()
                                    },2000)
                                })
                                document.body.prepend(dv)
                            }
                        </script>


                        <script>
                            const register = document.querySelector('.register');
                            register.addEventListener('click', async(e)=>{
                                e.preventDefault()

                                const password = document.querySelector('.password');
                                const confirm_password = document.querySelector('.confirm_password');

                                let params = new URLSearchParams(window.location.search)

                                const id = params.get('id')
                                const token = params.get('token')
                                
                                if (password.value === confirm_password.value){

                                    addLoader()
                                    
                                    try {
                                        const response = await fetch('http://10.20.40.234:8000/generate_new_password', { 
                                            method: 'PUT', 
                                            headers: {
                                                'Content-Type': 'application/json'
                                            }, 


                                            body: JSON.stringify({ 'id': Number(id),'token': token ,'password': password.value})
                                        });
                                    
                                    // Handle response
                                        if (response.ok) {
                                            const data = await response.json();
                                            password.value = ''
                                            confirm_password.value = ''
                                            removeLoader()
                                            successNotification(data.message)

                                        } else {
                                            const data = await response.json();

                                            // throw new Error('Network response was not ok.');
                                            console.log('response',data)
                                            removeLoader()
                                            errorNotification(data.message)
                                            
 


                                        }
                                    } catch (error) {
                                        console.error('Error:', error);
                                    }
                                } else {
                                    confirm_password.style.border = '1px solid red'


                                    const dv = document.createElement('div');
                                    dv.classList = 'absolute left-[50%] translate-x-[-50%] m-2';
                                    // data.message.forEach(e=>{
                                        const div = document.createElement('div');
                                        div.setAttribute('role','alert')
                                        div.setAttribute('class','alert alert-error my-2')

                                        div.innerHTML =   `
                                            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                                            <span>password and confirm password do not match</span>`;
                                        
                                        dv.append(div)

                                        setTimeout(e=>{
                                            div.remove()
                                        },2000)
                                        
                                    // })
                                    document.body.prepend(dv)

                                }
                                
                            })

                        </script>

                    </div>


                    {% else %}

                        <div class="h-full w-full flex items-center justify-center">Link Expired</div>

                    {% endif %}
            {% comment %} </div> {% endcomment %}
    </div>
    {% comment %} </section> {% endcomment %}

{% endblock  %}